<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet"
/>
<ion-header>
  <ion-toolbar>
    <ion-title
      >{{detailedMovie.originalTitle}} <i class="material-icons">movie</i>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row class="ion-padding-horizontal">
        <ion-col>
          <ion-card-header>
            <ion-card-title>{{detailedMovie.title}}</ion-card-title>
            <ion-card-subtitle>{{detailedMovie.date}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-subtitle class="ion-padding-horizontal">
            Original language: {{detailedMovie.originalLanguage}}
          </ion-card-subtitle>
          <ion-card-subtitle class="ion-padding-horizontal">
            Production countries:
            <img
              *ngFor="let country of detailedMovie.countries"
              class="countryFlag"
              [src]="country.flag"
              width="24px"
              height="24px"
            />
          </ion-card-subtitle>
          <ion-card-content>
            <ion-text class="ion-padding-vertical"
              >{{detailedMovie.overview}}</ion-text
            >
            <ion-text> {{detailedMovie.tagline}} </ion-text>
          </ion-card-content>
          <ion-text *ngIf="detailedMovie.tagline">
            "{{detailedMovie.tagline}}"
          </ion-text>
          <ion-row>
            <ion-col>
              <ion-row class="ion-padding">
                <ion-label>
                  <i class="material-icons">star_rate</i> Rating:
                  {{detailedMovie.average_rate}}
                </ion-label>
              </ion-row>
              <ion-row *ngIf="detailedMovie.explicit">
                <i class="material-icons">explicit</i>
              </ion-row>
              <ion-row>
                <ion-chip *ngFor="let genre of detailedMovie.genres"
                  >{{genre.name}}</ion-chip
                >
              </ion-row>
            </ion-col></ion-row
          >
        </ion-col>
        <ion-col size="12" size-sm>
          <img [src]="detailedMovie.image" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
